In [139]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
from pandas import concat
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
import matplotlib.dates as mdates
import plotly.express as px
%matplotlib inline

In [140]:
'''
What do I need for the board:
    - Food
    - Walk
    - Training
'''

'\nWhat do I need for the board:\n    - Food\n    - Walk\n    - Training\n'

In [337]:
df_food = pd.read_csv('../data_history_csv/food.csv').sort_values(['start'])
df_food.tail()

,label,start,end,note,unknown_1
3,FOOD/115/0,2024-11-07 13:30:00+00:00,2024-11-07 14:00:00+00:00,Carbs,NaN
4,FOOD/500/20,2024-11-07 15:00:00+00:00,2024-11-07 15:30:00+00:00,"Broccoli, veg. burger, halloumi, egg, watermel...",NaN
5,FOOD/300/20,2024-11-07 15:30:00+00:00,2024-11-07 16:00:00+00:00,Proteinbars,NaN
0,FOOD/500/20,2024-11-08 05:20:00+00:00,2024-11-08 05:50:00+00:00,Porridge,NaN
21,FOOD/500/20,2024-11-08 08:30:00+00:00,2024-11-08 09:00:00+00:00,Porridge,NaN

In [339]:
df_food_irl = pd.read_csv('../data_calendar_csv/food_irl.csv').sort_values(['start'])
df_food_irl.head()

,label,start,end,note,unknown_1
0,FOOD/500/20,2024-11-08T09:30:00+01:00,"{'dateTime': '2024-11-08T10:00:00+01:00', 'tim...",Porridge,0
1,FOOD/500/20,2024-11-08T14:55:00+01:00,"{'dateTime': '2024-11-08T15:25:00+01:00', 'tim...","Watermelon, grapes, coleslaw, veg sausage, bro...",1
2,FOOD/500/10,2024-11-08T15:30:00+01:00,"{'dateTime': '2024-11-08T16:00:00+01:00', 'tim...",Protein bars,0
3,FOOD/140/25,2024-11-09T04:38:00+01:00,"{'dateTime': '2024-11-09T05:08:00+01:00', 'tim...",Protein shake,2
4,FOOD/500/20,2024-11-09T07:43:00+01:00,"{'dateTime': '2024-11-09T08:13:00+01:00', 'tim...",Porridge,0

In [307]:
def pick_date(x):
    this_date = x.date()
    return this_date

In [308]:
def pick_time(x):
    this_time = x.time().strftime("%H:%M")
    return this_time

In [309]:
def date_time_insert(dataframe, format):
    date_time = pd.to_datetime(dataframe['start'], format=format)
    dataframe.insert(0, 'date_time', date_time)
    date = dataframe['date_time'].apply(pick_date)
    dataframe.insert(1, 'date', date)
    time = dataframe['date_time'].apply(pick_time)
    dataframe.insert(2, 'time', time)
    dataframe = dataframe.drop(['date_time', 'start', 'end', 'unknown_1'], axis=1)
    return dataframe

In [340]:
df_food = date_time_insert(df_food, "%Y-%m-%d %H:%M:%S+00:00")
df_food_irl = date_time_insert(df_food_irl, "%Y-%m-%dT%H:%M:%S+01:00")

In [311]:
df_food = df_food.sort_values(['date', 'time'])
df_food

,date,time,label,note
16,2024-11-04,06:30,FOOD/500/20,Porridge
17,2024-11-04,10:00,FOOD/500/20,Porridge
11,2024-11-04,15:00,FOOD/500/20,"Broccoli, kaki, veg sausage, coleslaw, plum, e..."
18,2024-11-04,15:30,FOOD/1000/10,"Protein bars, candy"
15,2024-11-05,05:30,FOOD/500/20,Porridge
14,2024-11-05,09:00,FOOD/500/20,Porridge
13,2024-11-05,11:30,FOOD/150/2,"Sandwish, butter, peanut butter"
12,2024-11-05,13:00,FOOD/115/0,Carbs
9,2024-11-05,15:30,FOOD/500/20,"Broccoli, kaki, veg sausage, coleslaw, plum, e..."
19,2024-11-05,16:00,FOOD/400/10,Protein bars
6,2024-11-06,05:30,FOOD/500/20,Porridge
7,2024-11-06,09:00,FOOD/500/20,Porridge
8,2024-11-06,12:00,FOOD/150/2,"Sandwish, butter, peanut butter"
10,2024-11-06,15:30,FOOD/500/20,"Broccoli, kaki, veg sausage, coleslaw, plum, e..."
20,2024-11-06,16:00,FOOD/500/10,Protein bars
1,2024-11-07,06:30,FOOD/500/20,Porridge
2,2024-11-07,12:30,FOOD/150/2,"Sandwish, butter, peanut butter"
3,2024-11-07,13:30,FOOD/115/0,Carbs
4,2024-11-07,15:00,FOOD/500/20,"Broccoli, veg. burger, halloumi, egg, watermel..."
5,2024-11-07,15:30,FOOD/300/20,Proteinbars
0,2024-11-08,05:20,FOOD/500/20,Porridge
21,2024-11-08,08:30,FOOD/500/20,Porridge

In [341]:
def food_sectioning(df_food):
    temp_storage_food = []
    for i in range(0, len(df_food)):
        string_array = df_food['label'].iloc[i].split('/')
        data = {
            'date': df_food['date'].iloc[i],
            'time': df_food['time'].iloc[i],
            'section': string_array[0],
            'calorie': int(string_array[1]),
            'protien': int(string_array[2]),
            'note': df_food['note'].iloc[i],
        }
        temp_storage_food.append(data)
    df_temp_food = pd.DataFrame(temp_storage_food)
    return df_temp_food

In [343]:
df_temp_food = food_sectioning(df_food)
df_temp_food_irl = food_sectioning(df_food_irl)
df_temp_food_irl

,date,time,section,calorie,protien,note
0,2024-11-08,09:30,FOOD,500,20,Porridge
1,2024-11-08,14:55,FOOD,500,20,"Watermelon, grapes, coleslaw, veg sausage, bro..."
2,2024-11-08,15:30,FOOD,500,10,Protein bars
3,2024-11-09,04:38,FOOD,140,25,Protein shake
4,2024-11-09,07:43,FOOD,500,20,Porridge

In [346]:
df_walk = pd.read_csv('../data_history_csv/walk.csv').sort_values(['start'])
df_walk

,label,start,end,note,unknown_1
1,"WALK/8,93/508",2024-11-04 04:41:00+01:00,2024-11-04 06:29:00+01:00,NaN,NaN
2,"WALK/7,65/454",2024-11-04 11:21:00+01:00,2024-11-04 13:00:00+01:00,NaN,NaN
3,"WALK/8,38/363",2024-11-05 04:25:00+01:00,2024-11-05 06:09:00+01:00,NaN,NaN
4,"WALK/7,38/428",2024-11-05 10:53:00+01:00,2024-11-05 12:41:00+01:00,NaN,NaN
5,"WALK/8,79/478",2024-11-06 04:22:00+01:00,2024-11-06 06:07:00+01:00,NaN,NaN
6,"WALK/7,58/438",2024-11-06 10:47:00+01:00,2024-11-06 12:28:00+01:00,NaN,NaN
7,"WALK/8,47/423",2024-11-07 05:35:00+01:00,2024-11-07 07:14:00+01:00,NaN,NaN
8,"WALK/7,22/396",2024-11-07 11:05:00+01:00,2024-11-07 12:39:00+01:00,NaN,NaN
0,"WALK/8,41/443",2024-11-08 04:13:00+01:00,2024-11-08 05:58:00+01:00,NaN,NaN
9,"WALK/7,91/458",2024-11-08 10:12:00+01:00,2024-11-08 11:57:00+01:00,NaN,NaN

In [347]:
df_walk_irl = pd.read_csv('../data_calendar_csv/walk_irl.csv').sort_values(['start'])
df_walk_irl.head()

,label,start,end,note,unknown_1
0,"WALK/7,91/458",2024-11-08T09:12:00Z,"{'dateTime': '2024-11-08T10:57:00Z', 'timeZone...",17,17
1,"WALK/8,49/435",2024-11-09T04:21:00Z,"{'dateTime': '2024-11-09T06:01:00Z', 'timeZone...",14,14
2,Asta / Liv / Aston,2024-11-12T08:30:00Z,"{'dateTime': '2024-11-12T10:00:00Z', 'timeZone...",15,15
3,Asta / Liv / Aston,2024-11-15T08:30:00Z,"{'dateTime': '2024-11-15T10:00:00Z', 'timeZone...",15,15
4,Asta / Liv / Aston,2024-11-19T08:30:00Z,"{'dateTime': '2024-11-19T10:00:00Z', 'timeZone...",15,15

In [348]:
df_walk = date_time_insert(df_walk, "%Y-%m-%d %H:%M:%S+01:00")
df_walk_irl = date_time_insert(df_walk_irl, "%Y-%m-%dT%H:%M:%SZ")
df_walk_irl

         date   time               label  note
0  2024-11-08  09:12       WALK/7,91/458    17
1  2024-11-09  04:21       WALK/8,49/435    14
2  2024-11-12  08:30  Asta / Liv / Aston    15
3  2024-11-15  08:30  Asta / Liv / Aston    15
4  2024-11-19  08:30  Asta / Liv / Aston    15
5  2024-11-22  08:30  Asta / Liv / Aston    15
6  2024-11-26  08:30  Asta / Liv / Aston    15
7  2024-11-29  08:30  Asta / Liv / Aston    15
8  2024-12-03  08:30  Asta / Liv / Aston    15
9  2024-12-06  08:30  Asta / Liv / Aston    15

In [316]:
def walk_sectioning(df_walk):
    temp_storage_walk = []
    for i in range(0, len(df_walk)):
        string_array = df_walk['label'].iloc[i].split('/')
        data = {
            'date': df_walk['date'].iloc[i],
            'time': df_walk['time'].iloc[i],
            'section': string_array[0],
            'distance': string_array[1],
            'calorie': -1 * int(string_array[2]),
            'note': df_walk['note'].iloc[i],
        }
        temp_storage_walk.append(data)
    df_temp_walk = pd.DataFrame(temp_storage_walk)
    return df_temp_walk

In [317]:
df_temp_walk

         date   time section distance  calorie  note
0  2024-11-04  04:41    WALK     8,93     -508   NaN
1  2024-11-04  11:21    WALK     7,65     -454   NaN
2  2024-11-05  04:25    WALK     8,38     -363   NaN
3  2024-11-05  10:53    WALK     7,38     -428   NaN
4  2024-11-06  04:22    WALK     8,79     -478   NaN
5  2024-11-06  10:47    WALK     7,58     -438   NaN
6  2024-11-07  05:35    WALK     8,47     -423   NaN
7  2024-11-07  11:05    WALK     7,22     -396   NaN
8  2024-11-08  04:13    WALK     8,41     -443   NaN
9  2024-11-08  10:12    WALK     7,91     -458   NaN

In [318]:
df_training = pd.read_csv('../data_history_csv/training.csv').sort_values(['start'])

In [319]:
df_training = date_time_insert(df_training, "%Y-%m-%d %H:%M:%S+00:00")
df_training

         date   time               label  note
0  2024-11-04  12:22        BIKE/RMP/188   NaN
1  2024-11-04  13:00    STR/BODYPUMP/225   NaN
2  2024-11-05  13:58  RUN/10km5'07''/505   NaN
3  2024-11-06  13:42       BIKE/TRIP/472   NaN

In [320]:
temp_storage_training = []
for i in range(0, len(df_training)):
    string_array = df_training['label'].iloc[i].split('/')
    data = {
        'date': df_training['date'].iloc[i],
        'time': df_training['time'].iloc[i],
        'section': string_array[0],
        'type': string_array[1],
        'calorie': -1 * int(string_array[2]),
        'note': df_training['note'].iloc[i],
    }
    temp_storage_training.append(data)
df_temp_training= pd.DataFrame(temp_storage_training)

In [321]:
df_temp_training

         date   time section        type  calorie  note
0  2024-11-04  12:22    BIKE         RMP     -188   NaN
1  2024-11-04  13:00     STR    BODYPUMP     -225   NaN
2  2024-11-05  13:58     RUN  10km5'07''     -505   NaN
3  2024-11-06  13:42    BIKE        TRIP     -472   NaN

In [322]:
# Women: BMR = 447.593 + (9.247 x weight in kg) + (3.098 x height in cm) – (4.330 x age in years)
weight = 50
height = 170
age = 42
BMR = int(447.593 + (9.247 * weight) + (3.098 * height) - (4.330 * age))
BMR

1254

In [323]:
df_energy = pd.read_csv('../data_history_csv/energy_template.csv')
df_energy['section'] = 'REST'
df_energy['calorie'] = -1 * (BMR / 24)
df_energy

     time  calorie section
0   00:00   -52.25    REST
1   01:00   -52.25    REST
2   02:00   -52.25    REST
3   03:00   -52.25    REST
4   04:00   -52.25    REST
5   05:00   -52.25    REST
6   06:00   -52.25    REST
7   07:00   -52.25    REST
8   08:00   -52.25    REST
9   09:00   -52.25    REST
10  10:00   -52.25    REST
11  11:00   -52.25    REST
12  12:00   -52.25    REST
13  13:00   -52.25    REST
14  14:00   -52.25    REST
15  15:00   -52.25    REST
16  16:00   -52.25    REST
17  17:00   -52.25    REST
18  18:00   -52.25    REST
19  19:00   -52.25    REST
20  20:00   -52.25    REST
21  21:00   -52.25    REST
22  22:00   -52.25    REST
23  23:00   -52.25    REST

In [325]:
ls_dates = df_food_.groupby(['date']).count().index
temp_store_energy = []
for i in range(0, len(ls_dates)):
    df_food_day = df_temp_food[df_temp_food['date'] == ls_dates[i]]
    df_walk_day = df_temp_walk[df_temp_walk['date'] == ls_dates[i]]
    df_training_day = df_temp_training[df_temp_training['date'] == ls_dates[i]]
    df_energy['date'] = ls_dates[i]
    df_energy_day = pd.concat([df_energy, df_food_day, df_walk_day, df_training_day]).sort_values(['time'])
    temp_store_energy.append(df_energy_day)

In [326]:
df_energy_result = pd.concat(temp_store_energy)
df_energy_result

     time  calorie section        date  protien note distance type
0   00:00   -52.25    REST  2024-11-04      NaN  NaN      NaN  NaN
1   01:00   -52.25    REST  2024-11-04      NaN  NaN      NaN  NaN
2   02:00   -52.25    REST  2024-11-04      NaN  NaN      NaN  NaN
3   03:00   -52.25    REST  2024-11-04      NaN  NaN      NaN  NaN
4   04:00   -52.25    REST  2024-11-04      NaN  NaN      NaN  NaN
..    ...      ...     ...         ...      ...  ...      ...  ...
19  19:00   -52.25    REST  2024-11-08      NaN  NaN      NaN  NaN
20  20:00   -52.25    REST  2024-11-08      NaN  NaN      NaN  NaN
21  21:00   -52.25    REST  2024-11-08      NaN  NaN      NaN  NaN
22  22:00   -52.25    REST  2024-11-08      NaN  NaN      NaN  NaN
23  23:00   -52.25    REST  2024-11-08      NaN  NaN      NaN  NaN

[156 rows x 8 columns]

In [327]:
df_energy_result = df_energy_result[['date', 'time', 'section', 'calorie', 'protien', 'distance', 'type', 'note']]
df_energy_result = df_energy_result.fillna(0).sort_values(['date', 'time'])
df_energy_result.head(30)

,date,time,section,calorie,protien,distance,type,note
0,2024-11-04,00:00,REST,-52.25,0.0,0,0,0
1,2024-11-04,01:00,REST,-52.25,0.0,0,0,0
2,2024-11-04,02:00,REST,-52.25,0.0,0,0,0
3,2024-11-04,03:00,REST,-52.25,0.0,0,0,0
4,2024-11-04,04:00,REST,-52.25,0.0,0,0,0
0,2024-11-04,04:41,WALK,-508.00,0.0,"8,93",0,0
5,2024-11-04,05:00,REST,-52.25,0.0,0,0,0
6,2024-11-04,06:00,REST,-52.25,0.0,0,0,0
0,2024-11-04,06:30,FOOD,500.00,20.0,0,0,Porridge
7,2024-11-04,07:00,REST,-52.25,0.0,0,0,0
8,2024-11-04,08:00,REST,-52.25,0.0,0,0,0
9,2024-11-04,09:00,REST,-52.25,0.0,0,0,0
10,2024-11-04,10:00,REST,-52.25,0.0,0,0,0
1,2024-11-04,10:00,FOOD,500.00,20.0,0,0,Porridge
11,2024-11-04,11:00,REST,-52.25,0.0,0,0,0
1,2024-11-04,11:21,WALK,-454.00,0.0,"7,65",0,0
12,2024-11-04,12:00,REST,-52.25,0.0,0,0,0
0,2024-11-04,12:22,BIKE,-188.00,0.0,0,RMP,0
1,2024-11-04,13:00,STR,-225.00,0.0,0,BODYPUMP,0
13,2024-11-04,13:00,REST,-52.25,0.0,0,0,0
14,2024-11-04,14:00,REST,-52.25,0.0,0,0,0
2,2024-11-04,15:00,FOOD,500.00,20.0,0,0,"Broccoli, kaki, veg sausage, coleslaw, plum, e..."
15,2024-11-04,15:00,REST,-52.25,0.0,0,0,0
3,2024-11-04,15:30,FOOD,1000.00,10.0,0,0,"Protein bars, candy"
16,2024-11-04,16:00,REST,-52.25,0.0,0,0,0
17,2024-11-04,17:00,REST,-52.25,0.0,0,0,0
18,2024-11-04,18:00,REST,-52.25,0.0,0,0,0
19,2024-11-04,19:00,REST,-52.25,0.0,0,0,0
20,2024-11-04,20:00,REST,-52.25,0.0,0,0,0
21,2024-11-04,21:00,REST,-52.25,0.0,0,0,0

In [328]:
# This is all dates that we want to explore (ALL dates since I always take some step at a day --> therefore ALL dates will be in this set)
ls_dates = df_energy_result.groupby(['date']).count().index
ls_dates

Index([2024-11-04, 2024-11-05, 2024-11-06, 2024-11-07, 2024-11-08], dtype='object', name='date')

In [329]:
storage = []
for j in range(0, len(ls_dates)):
    df_day = df_energy_result[df_energy_result['date'] == ls_dates[j]]
    ls_calories = df_day['calorie'].values
    ls_acc_calories = [ls_calories[0]]
    for i in range(0, len(ls_calories) - 1):
        counting_calories = ls_acc_calories[i] + ls_calories[i + 1]
        ls_acc_calories.append(counting_calories) 
    df_day.insert(3, 'calorie_acc', ls_acc_calories)
    storage.append(df_day)

In [331]:
df_energy_acc = pd.concat(storage)
df_energy_acc.head(30)

,date,time,section,calorie_acc,calorie,protien,distance,type,note
0,2024-11-04,00:00,REST,-52.25,-52.25,0.0,0,0,0
1,2024-11-04,01:00,REST,-104.50,-52.25,0.0,0,0,0
2,2024-11-04,02:00,REST,-156.75,-52.25,0.0,0,0,0
3,2024-11-04,03:00,REST,-209.00,-52.25,0.0,0,0,0
4,2024-11-04,04:00,REST,-261.25,-52.25,0.0,0,0,0
0,2024-11-04,04:41,WALK,-769.25,-508.00,0.0,"8,93",0,0
5,2024-11-04,05:00,REST,-821.50,-52.25,0.0,0,0,0
6,2024-11-04,06:00,REST,-873.75,-52.25,0.0,0,0,0
0,2024-11-04,06:30,FOOD,-373.75,500.00,20.0,0,0,Porridge
7,2024-11-04,07:00,REST,-426.00,-52.25,0.0,0,0,0
8,2024-11-04,08:00,REST,-478.25,-52.25,0.0,0,0,0
9,2024-11-04,09:00,REST,-530.50,-52.25,0.0,0,0,0
10,2024-11-04,10:00,REST,-582.75,-52.25,0.0,0,0,0
1,2024-11-04,10:00,FOOD,-82.75,500.00,20.0,0,0,Porridge
11,2024-11-04,11:00,REST,-135.00,-52.25,0.0,0,0,0
1,2024-11-04,11:21,WALK,-589.00,-454.00,0.0,"7,65",0,0
12,2024-11-04,12:00,REST,-641.25,-52.25,0.0,0,0,0
0,2024-11-04,12:22,BIKE,-829.25,-188.00,0.0,0,RMP,0
1,2024-11-04,13:00,STR,-1054.25,-225.00,0.0,0,BODYPUMP,0
13,2024-11-04,13:00,REST,-1106.50,-52.25,0.0,0,0,0
14,2024-11-04,14:00,REST,-1158.75,-52.25,0.0,0,0,0
2,2024-11-04,15:00,FOOD,-658.75,500.00,20.0,0,0,"Broccoli, kaki, veg sausage, coleslaw, plum, e..."
15,2024-11-04,15:00,REST,-711.00,-52.25,0.0,0,0,0
3,2024-11-04,15:30,FOOD,289.00,1000.00,10.0,0,0,"Protein bars, candy"
16,2024-11-04,16:00,REST,236.75,-52.25,0.0,0,0,0
17,2024-11-04,17:00,REST,184.50,-52.25,0.0,0,0,0
18,2024-11-04,18:00,REST,132.25,-52.25,0.0,0,0,0
19,2024-11-04,19:00,REST,80.00,-52.25,0.0,0,0,0
20,2024-11-04,20:00,REST,27.75,-52.25,0.0,0,0,0
21,2024-11-04,21:00,REST,-24.50,-52.25,0.0,0,0,0

In [332]:
df_energy_acc.to_csv('../data_board_csv/energy-results.csv', index=False)

In [334]:
import datetime
now = datetime.datetime.utcnow()
now

datetime.datetime(2024, 11, 9, 6, 22, 56, 459342)

In [336]:
previous_date =  datetime.datetime.utcnow() - datetime.timedelta(days=1) 
previous_date

datetime.datetime(2024, 11, 8, 6, 25, 5, 144807)