In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
from pandas import concat
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
import matplotlib.dates as mdates
import plotly.express as px
%matplotlib inline

In [2]:
'''
What do I need for the board:
    - Food
    - Walk
    - Training
'''

'\nWhat do I need for the board:\n    - Food\n    - Walk\n    - Training\n'

In [3]:
import datetime
now = datetime.datetime.utcnow().date()
now

datetime.date(2024, 11, 10)

In [4]:
df_food_irl = pd.read_csv('../data_calendar_csv/food_irl.csv').sort_values(['start'])
df_food_irl.head()

,label,start,end,note,unknown_1
0,FOOD/500/20,2024-11-04T07:30:00+01:00,"{'dateTime': '2024-11-04T08:00:00+01:00', 'tim...",Porridge,0
1,FOOD/500/20,2024-11-04T11:00:00+01:00,"{'dateTime': '2024-11-04T11:30:00+01:00', 'tim...",Porridge,0
2,FOOD/500/20,2024-11-04T16:00:00+01:00,"{'dateTime': '2024-11-04T16:30:00+01:00', 'tim...","Broccoli, kaki, veg sausage, coleslaw, plum, e...",0
3,FOOD/1000/10,2024-11-04T16:30:00+01:00,"{'dateTime': '2024-11-04T17:00:00+01:00', 'tim...","Protein bars, candy",0
4,FOOD/500/20,2024-11-05T06:30:00+01:00,"{'dateTime': '2024-11-05T07:00:00+01:00', 'tim...",Porridge,0

In [5]:
def pick_date(x):
    this_date = x.date()
    return this_date

In [6]:
def pick_time(x):
    this_time = x.time().strftime("%H:%M")
    return this_time

In [7]:
def date_time_insert(dataframe, format):
    date_time = pd.to_datetime(dataframe['start'], format=format)
    dataframe.insert(0, 'date_time', date_time)
    date = dataframe['date_time'].apply(pick_date)
    dataframe.insert(1, 'date', date)
    time = dataframe['date_time'].apply(pick_time)
    dataframe.insert(2, 'time', time)
    dataframe = dataframe.drop(['date_time', 'start', 'end', 'unknown_1'], axis=1)
    return dataframe

In [8]:
df_food_irl = date_time_insert(df_food_irl, "%Y-%m-%dT%H:%M:%S+01:00")

In [28]:
def food_sectioning(df_food):
    temp_storage_food = []
    for i in range(0, len(df_food)):
        string_array = df_food['label'].iloc[i].split('/')
        data = {
            'date': df_food['date'].iloc[i],
            'time': df_food['time'].iloc[i],
            'section': string_array[0],
            'calorie': int(string_array[1]),
            'protein': int(string_array[2]),
            'note': df_food['note'].iloc[i],
        }
        temp_storage_food.append(data)
    df_temp_food = pd.DataFrame(temp_storage_food)
    return df_temp_food

In [29]:
df_temp_food_irl = food_sectioning(df_food_irl)
df_temp_food_irl = df_temp_food_irl[df_temp_food_irl['date'] <= now]
df_temp_food_irl

,date,time,section,calorie,protein,note
0,2024-11-04,07:30,FOOD,500,20,Porridge
1,2024-11-04,11:00,FOOD,500,20,Porridge
2,2024-11-04,16:00,FOOD,500,20,"Broccoli, kaki, veg sausage, coleslaw, plum, e..."
3,2024-11-04,16:30,FOOD,1000,10,"Protein bars, candy"
4,2024-11-05,06:30,FOOD,500,20,Porridge
5,2024-11-05,10:00,FOOD,500,20,Porridge
6,2024-11-05,12:30,FOOD,150,2,"Sandwish, butter, peanut butter"
7,2024-11-05,14:00,FOOD,115,0,Carbs
8,2024-11-05,16:30,FOOD,500,20,"Broccoli, kaki, veg sausage, coleslaw, plum, e..."
9,2024-11-05,17:00,FOOD,400,10,Protein bars
10,2024-11-06,06:30,FOOD,500,20,Porridge
11,2024-11-06,10:00,FOOD,500,20,Porridge
12,2024-11-06,13:00,FOOD,150,2,"Sandwish, butter, peanut butter"
13,2024-11-06,16:30,FOOD,500,20,"Broccoli, kaki, veg sausage, coleslaw, plum, e..."
14,2024-11-06,17:00,FOOD,500,10,Protein bars
15,2024-11-07,07:30,FOOD,500,20,Porridge
16,2024-11-07,13:30,FOOD,150,2,"Sandwish, butter, peanut butter"
17,2024-11-07,14:30,FOOD,115,0,Carbs
18,2024-11-07,16:00,FOOD,500,20,"Broccoli, veg. burger, halloumi, egg, watermel..."
19,2024-11-07,16:30,FOOD,300,20,Proteinbars
20,2024-11-08,06:20,FOOD,500,20,Porridge
21,2024-11-08,09:30,FOOD,500,20,Porridge
22,2024-11-08,14:55,FOOD,500,20,"Watermelon, grapes, coleslaw, veg sausage, bro..."
23,2024-11-08,15:30,FOOD,500,10,Protein bars
24,2024-11-09,04:38,FOOD,140,25,Protein shake
25,2024-11-09,07:43,FOOD,500,20,Porridge

In [30]:
df_walk_irl = pd.read_csv('../data_calendar_csv/walk_irl.csv').sort_values(['start'])
df_walk_irl.head()

,label,start,end,note,unknown_1
0,"WALK/8,93/508",2024-11-04T03:41:00Z,"{'dateTime': '2024-11-04T05:29:00Z', 'timeZone...",15,15
1,"WALK/7,65/454",2024-11-04T10:21:00Z,"{'dateTime': '2024-11-04T12:00:00Z', 'timeZone...",19,19
2,"WALK/8,38/363",2024-11-05T03:25:00Z,"{'dateTime': '2024-11-05T05:09:00Z', 'timeZone...",15,15
3,"WALK/7,38/428",2024-11-05T09:53:00Z,"{'dateTime': '2024-11-05T11:41:00Z', 'timeZone...",18,18
4,"WALK/8,79/478",2024-11-06T03:22:00Z,"{'dateTime': '2024-11-06T05:07:00Z', 'timeZone...",15,15

In [31]:
df_walk_irl = date_time_insert(df_walk_irl, "%Y-%m-%dT%H:%M:%SZ")
df_walk_irl

           date   time               label  note
0    2024-11-04  03:41       WALK/8,93/508    15
1    2024-11-04  10:21       WALK/7,65/454    19
2    2024-11-05  03:25       WALK/8,38/363    15
3    2024-11-05  09:53       WALK/7,38/428    18
4    2024-11-06  03:22       WALK/8,79/478    15
..          ...    ...                 ...   ...
710  2031-07-25  07:30  Asta / Liv / Aston    15
711  2031-07-29  07:30  Asta / Liv / Aston    15
712  2031-08-01  07:30  Asta / Liv / Aston    15
713  2031-08-05  07:30  Asta / Liv / Aston    15
714  2031-08-08  07:30  Asta / Liv / Aston    15

[715 rows x 4 columns]

In [32]:
df_walk_irl = df_walk_irl[df_walk_irl['date'] <= now]
df_walk_irl

          date   time          label  note
0   2024-11-04  03:41  WALK/8,93/508    15
1   2024-11-04  10:21  WALK/7,65/454    19
2   2024-11-05  03:25  WALK/8,38/363    15
3   2024-11-05  09:53  WALK/7,38/428    18
4   2024-11-06  03:22  WALK/8,79/478    15
5   2024-11-06  09:47  WALK/7,58/438    19
6   2024-11-07  04:35  WALK/8,47/423    15
7   2024-11-07  10:05  WALK/7,22/396    19
8   2024-11-08  03:13  WALK/8,41/443    14
9   2024-11-08  09:12  WALK/7,91/458    17
10  2024-11-09  04:21  WALK/8,49/435    14

In [33]:
def walk_sectioning(df_walk):
    temp_storage_walk = []
    for i in range(0, len(df_walk)):
        string_array = df_walk['label'].iloc[i].split('/')
        data = {
            'date': df_walk['date'].iloc[i],
            'time': df_walk['time'].iloc[i],
            'section': string_array[0],
            'distance': string_array[1],
            'calorie': -1 * int(string_array[2]),
            'note': df_walk['note'].iloc[i],
        }
        temp_storage_walk.append(data)
    df_temp_walk = pd.DataFrame(temp_storage_walk)
    return df_temp_walk

In [34]:
df_temp_walk_irl = walk_sectioning(df_walk_irl)
df_temp_walk_irl

          date   time section distance  calorie  note
0   2024-11-04  03:41    WALK     8,93     -508    15
1   2024-11-04  10:21    WALK     7,65     -454    19
2   2024-11-05  03:25    WALK     8,38     -363    15
3   2024-11-05  09:53    WALK     7,38     -428    18
4   2024-11-06  03:22    WALK     8,79     -478    15
5   2024-11-06  09:47    WALK     7,58     -438    19
6   2024-11-07  04:35    WALK     8,47     -423    15
7   2024-11-07  10:05    WALK     7,22     -396    19
8   2024-11-08  03:13    WALK     8,41     -443    14
9   2024-11-08  09:12    WALK     7,91     -458    17
10  2024-11-09  04:21    WALK     8,49     -435    14

In [35]:
df_training_irl = pd.read_csv('../data_calendar_csv/training_irl.csv').sort_values(['start'])
df_training_irl

,label,start,end,note,unknown_1
0,BIKE/RMP/188,2024-11-04T13:22:00+01:00,"{'dateTime': '2024-11-04T13:53:00+01:00', 'tim...",1,1
1,STR/BODYPUMP/225,2024-11-04T14:00:00+01:00,"{'dateTime': '2024-11-04T14:45:00+01:00', 'tim...",0,0
2,RUN/10km5'07''/505,2024-11-05T14:58:00+01:00,"{'dateTime': '2024-11-05T16:14:00+01:00', 'tim...",1,1
3,BIKE/TRIP/472,2024-11-06T14:42:00+01:00,"{'dateTime': '2024-11-06T15:47:00+01:00', 'tim...",1,1

In [36]:
df_training_irl = date_time_insert(df_training_irl, "%Y-%m-%dT%H:%M:%S+01:00")
df_training_irl

         date   time               label  note
0  2024-11-04  13:22        BIKE/RMP/188     1
1  2024-11-04  14:00    STR/BODYPUMP/225     0
2  2024-11-05  14:58  RUN/10km5'07''/505     1
3  2024-11-06  14:42       BIKE/TRIP/472     1

In [37]:
def training_sectioning(df_training):
    temp_storage_training = []
    for i in range(0, len(df_training)):
        string_array = df_training['label'].iloc[i].split('/')
        data = {
            'date': df_training['date'].iloc[i],
            'time': df_training['time'].iloc[i],
            'section': string_array[0],
            'type': string_array[1],
            'calorie': -1 * int(string_array[2]),
            'note': df_training['note'].iloc[i],
        }
        temp_storage_training.append(data)
    df_temp_training = pd.DataFrame(temp_storage_training)
    return df_temp_training

In [38]:
df_temp_training_irl = training_sectioning(df_training_irl)
df_temp_training_irl

         date   time section        type  calorie  note
0  2024-11-04  13:22    BIKE         RMP     -188     1
1  2024-11-04  14:00     STR    BODYPUMP     -225     0
2  2024-11-05  14:58     RUN  10km5'07''     -505     1
3  2024-11-06  14:42    BIKE        TRIP     -472     1

In [39]:
# Women: BMR = 447.593 + (9.247 x weight in kg) + (3.098 x height in cm) – (4.330 x age in years)
weight = 50
height = 170
age = 42
BMR = int(447.593 + (9.247 * weight) + (3.098 * height) - (4.330 * age))
BMR

1254

In [90]:
df_energy = pd.read_csv('../data_history_csv/energy_template.csv')
df_energy['section'] = 'REST'
df_energy['calorie'] = -1 * (BMR / 24)
df_energy

     time  calorie section
0   00:00   -52.25    REST
1   01:00   -52.25    REST
2   02:00   -52.25    REST
3   03:00   -52.25    REST
4   04:00   -52.25    REST
5   05:00   -52.25    REST
6   06:00   -52.25    REST
7   07:00   -52.25    REST
8   08:00   -52.25    REST
9   09:00   -52.25    REST
10  10:00   -52.25    REST
11  11:00   -52.25    REST
12  12:00   -52.25    REST
13  13:00   -52.25    REST
14  14:00   -52.25    REST
15  15:00   -52.25    REST
16  16:00   -52.25    REST
17  17:00   -52.25    REST
18  18:00   -52.25    REST
19  19:00   -52.25    REST
20  20:00   -52.25    REST
21  21:00   -52.25    REST
22  22:00   -52.25    REST
23  23:00   -52.25    REST

In [91]:
ls_dates = df_food_irl.groupby(['date']).count().index
temp_store_energy = []
for i in range(0, len(ls_dates)):
    df_food_day = df_temp_food_irl[df_temp_food_irl['date'] == ls_dates[i]]
    df_walk_day = df_temp_walk_irl[df_temp_walk_irl['date'] == ls_dates[i]]
    df_training_day = df_temp_training_irl[df_temp_training_irl['date'] == ls_dates[i]]
    df_energy['date'] = ls_dates[i]
    df_energy_day = pd.concat([df_energy, df_food_day, df_walk_day, df_training_day]).sort_values(['time'])
    temp_store_energy.append(df_energy_day)

In [92]:
df_energy_result = pd.concat(temp_store_energy)
df_energy_result

     time  calorie section        date  protein note distance type
0   00:00   -52.25    REST  2024-11-04      NaN  NaN      NaN  NaN
1   01:00   -52.25    REST  2024-11-04      NaN  NaN      NaN  NaN
2   02:00   -52.25    REST  2024-11-04      NaN  NaN      NaN  NaN
3   03:00   -52.25    REST  2024-11-04      NaN  NaN      NaN  NaN
0   03:41  -508.00    WALK  2024-11-04      NaN   15     8,93  NaN
..    ...      ...     ...         ...      ...  ...      ...  ...
19  19:00   -52.25    REST  2024-11-09      NaN  NaN      NaN  NaN
20  20:00   -52.25    REST  2024-11-09      NaN  NaN      NaN  NaN
21  21:00   -52.25    REST  2024-11-09      NaN  NaN      NaN  NaN
22  22:00   -52.25    REST  2024-11-09      NaN  NaN      NaN  NaN
23  23:00   -52.25    REST  2024-11-09      NaN  NaN      NaN  NaN

[185 rows x 8 columns]

In [93]:
df_energy_result = df_energy_result[['date', 'time', 'section', 'calorie', 'protein', 'distance', 'type', 'note']]
df_energy_result = df_energy_result.fillna(0).sort_values(['date', 'time'])
df_energy_result.head(30)

,date,time,section,calorie,protein,distance,type,note
0,2024-11-04,00:00,REST,-52.25,0.0,0,0,0
1,2024-11-04,01:00,REST,-52.25,0.0,0,0,0
2,2024-11-04,02:00,REST,-52.25,0.0,0,0,0
3,2024-11-04,03:00,REST,-52.25,0.0,0,0,0
0,2024-11-04,03:41,WALK,-508.00,0.0,"8,93",0,15
4,2024-11-04,04:00,REST,-52.25,0.0,0,0,0
5,2024-11-04,05:00,REST,-52.25,0.0,0,0,0
6,2024-11-04,06:00,REST,-52.25,0.0,0,0,0
7,2024-11-04,07:00,REST,-52.25,0.0,0,0,0
0,2024-11-04,07:30,FOOD,500.00,20.0,0,0,Porridge
8,2024-11-04,08:00,REST,-52.25,0.0,0,0,0
9,2024-11-04,09:00,REST,-52.25,0.0,0,0,0
10,2024-11-04,10:00,REST,-52.25,0.0,0,0,0
1,2024-11-04,10:21,WALK,-454.00,0.0,"7,65",0,19
11,2024-11-04,11:00,REST,-52.25,0.0,0,0,0
1,2024-11-04,11:00,FOOD,500.00,20.0,0,0,Porridge
12,2024-11-04,12:00,REST,-52.25,0.0,0,0,0
13,2024-11-04,13:00,REST,-52.25,0.0,0,0,0
0,2024-11-04,13:22,BIKE,-188.00,0.0,0,RMP,1
1,2024-11-04,14:00,STR,-225.00,0.0,0,BODYPUMP,0
14,2024-11-04,14:00,REST,-52.25,0.0,0,0,0
15,2024-11-04,15:00,REST,-52.25,0.0,0,0,0
2,2024-11-04,16:00,FOOD,500.00,20.0,0,0,"Broccoli, kaki, veg sausage, coleslaw, plum, e..."
16,2024-11-04,16:00,REST,-52.25,0.0,0,0,0
3,2024-11-04,16:30,FOOD,1000.00,10.0,0,0,"Protein bars, candy"
17,2024-11-04,17:00,REST,-52.25,0.0,0,0,0
18,2024-11-04,18:00,REST,-52.25,0.0,0,0,0
19,2024-11-04,19:00,REST,-52.25,0.0,0,0,0
20,2024-11-04,20:00,REST,-52.25,0.0,0,0,0
21,2024-11-04,21:00,REST,-52.25,0.0,0,0,0

In [94]:
# This is all dates that we want to explore (ALL dates since I always take some step at a day --> therefore ALL dates will be in this set)
ls_dates = df_energy_result.groupby(['date']).count().index
ls_dates

Index([2024-11-04, 2024-11-05, 2024-11-06, 2024-11-07, 2024-11-08, 2024-11-09], dtype='object', name='date')

In [95]:
storage = []
for j in range(0, len(ls_dates)):
    df_day = df_energy_result[df_energy_result['date'] == ls_dates[j]]
    ls_calories = df_day['calorie'].values
    ls_protein = df_day['protein'].values
    ls_acc_calories = [ls_calories[0]]
    ls_acc_protein = [ls_protein[0]]
    for i in range(0, len(ls_calories) - 1):
        counting_calories = ls_acc_calories[i] + ls_calories[i + 1]
        counting_protein = ls_acc_protein[i] + ls_protein[i + 1]
        ls_acc_calories.append(counting_calories) 
        ls_acc_protein.append(counting_protein)
    df_day.insert(3, 'calorie_acc', ls_acc_calories)
    df_day.insert(5, 'protein_acc', ls_acc_protein)
    storage.append(df_day)

In [96]:
df_energy_acc = pd.concat(storage)
df_energy_acc.head(30)

,date,time,section,calorie_acc,calorie,protein_acc,protein,distance,type,note
0,2024-11-04,00:00,REST,-52.25,-52.25,0.0,0.0,0,0,0
1,2024-11-04,01:00,REST,-104.50,-52.25,0.0,0.0,0,0,0
2,2024-11-04,02:00,REST,-156.75,-52.25,0.0,0.0,0,0,0
3,2024-11-04,03:00,REST,-209.00,-52.25,0.0,0.0,0,0,0
0,2024-11-04,03:41,WALK,-717.00,-508.00,0.0,0.0,"8,93",0,15
4,2024-11-04,04:00,REST,-769.25,-52.25,0.0,0.0,0,0,0
5,2024-11-04,05:00,REST,-821.50,-52.25,0.0,0.0,0,0,0
6,2024-11-04,06:00,REST,-873.75,-52.25,0.0,0.0,0,0,0
7,2024-11-04,07:00,REST,-926.00,-52.25,0.0,0.0,0,0,0
0,2024-11-04,07:30,FOOD,-426.00,500.00,20.0,20.0,0,0,Porridge
8,2024-11-04,08:00,REST,-478.25,-52.25,20.0,0.0,0,0,0
9,2024-11-04,09:00,REST,-530.50,-52.25,20.0,0.0,0,0,0
10,2024-11-04,10:00,REST,-582.75,-52.25,20.0,0.0,0,0,0
1,2024-11-04,10:21,WALK,-1036.75,-454.00,20.0,0.0,"7,65",0,19
11,2024-11-04,11:00,REST,-1089.00,-52.25,20.0,0.0,0,0,0
1,2024-11-04,11:00,FOOD,-589.00,500.00,40.0,20.0,0,0,Porridge
12,2024-11-04,12:00,REST,-641.25,-52.25,40.0,0.0,0,0,0
13,2024-11-04,13:00,REST,-693.50,-52.25,40.0,0.0,0,0,0
0,2024-11-04,13:22,BIKE,-881.50,-188.00,40.0,0.0,0,RMP,1
1,2024-11-04,14:00,STR,-1106.50,-225.00,40.0,0.0,0,BODYPUMP,0
14,2024-11-04,14:00,REST,-1158.75,-52.25,40.0,0.0,0,0,0
15,2024-11-04,15:00,REST,-1211.00,-52.25,40.0,0.0,0,0,0
2,2024-11-04,16:00,FOOD,-711.00,500.00,60.0,20.0,0,0,"Broccoli, kaki, veg sausage, coleslaw, plum, e..."
16,2024-11-04,16:00,REST,-763.25,-52.25,60.0,0.0,0,0,0
3,2024-11-04,16:30,FOOD,236.75,1000.00,70.0,10.0,0,0,"Protein bars, candy"
17,2024-11-04,17:00,REST,184.50,-52.25,70.0,0.0,0,0,0
18,2024-11-04,18:00,REST,132.25,-52.25,70.0,0.0,0,0,0
19,2024-11-04,19:00,REST,80.00,-52.25,70.0,0.0,0,0,0
20,2024-11-04,20:00,REST,27.75,-52.25,70.0,0.0,0,0,0
21,2024-11-04,21:00,REST,-24.50,-52.25,70.0,0.0,0,0,0

In [102]:
new_column_acc = []
for i in range(0, len(df_energy_acc)):  
    if df_energy_acc['protein'].iloc[i] == 0.0: #df_energy_acc['protein']
        new_column_acc.append(df_energy_acc['protein'].iloc[i])
    else:
        new_column_acc.append(df_energy_acc['protein_acc'].iloc[i+1])

In [103]:
df_energy_acc.insert(6, 'pro_acc_clean', new_column_acc)

In [104]:
df_energy_acc.head(30)

,date,time,section,calorie_acc,calorie,protein_acc,pro_acc_clean,protein,distance,type,note
0,2024-11-04,00:00,REST,-52.25,-52.25,0.0,0.0,0.0,0,0,0
1,2024-11-04,01:00,REST,-104.50,-52.25,0.0,0.0,0.0,0,0,0
2,2024-11-04,02:00,REST,-156.75,-52.25,0.0,0.0,0.0,0,0,0
3,2024-11-04,03:00,REST,-209.00,-52.25,0.0,0.0,0.0,0,0,0
0,2024-11-04,03:41,WALK,-717.00,-508.00,0.0,0.0,0.0,"8,93",0,15
4,2024-11-04,04:00,REST,-769.25,-52.25,0.0,0.0,0.0,0,0,0
5,2024-11-04,05:00,REST,-821.50,-52.25,0.0,0.0,0.0,0,0,0
6,2024-11-04,06:00,REST,-873.75,-52.25,0.0,0.0,0.0,0,0,0
7,2024-11-04,07:00,REST,-926.00,-52.25,0.0,0.0,0.0,0,0,0
0,2024-11-04,07:30,FOOD,-426.00,500.00,20.0,20.0,20.0,0,0,Porridge
8,2024-11-04,08:00,REST,-478.25,-52.25,20.0,0.0,0.0,0,0,0
9,2024-11-04,09:00,REST,-530.50,-52.25,20.0,0.0,0.0,0,0,0
10,2024-11-04,10:00,REST,-582.75,-52.25,20.0,0.0,0.0,0,0,0
1,2024-11-04,10:21,WALK,-1036.75,-454.00,20.0,0.0,0.0,"7,65",0,19
11,2024-11-04,11:00,REST,-1089.00,-52.25,20.0,0.0,0.0,0,0,0
1,2024-11-04,11:00,FOOD,-589.00,500.00,40.0,40.0,20.0,0,0,Porridge
12,2024-11-04,12:00,REST,-641.25,-52.25,40.0,0.0,0.0,0,0,0
13,2024-11-04,13:00,REST,-693.50,-52.25,40.0,0.0,0.0,0,0,0
0,2024-11-04,13:22,BIKE,-881.50,-188.00,40.0,0.0,0.0,0,RMP,1
1,2024-11-04,14:00,STR,-1106.50,-225.00,40.0,0.0,0.0,0,BODYPUMP,0
14,2024-11-04,14:00,REST,-1158.75,-52.25,40.0,0.0,0.0,0,0,0
15,2024-11-04,15:00,REST,-1211.00,-52.25,40.0,0.0,0.0,0,0,0
2,2024-11-04,16:00,FOOD,-711.00,500.00,60.0,60.0,20.0,0,0,"Broccoli, kaki, veg sausage, coleslaw, plum, e..."
16,2024-11-04,16:00,REST,-763.25,-52.25,60.0,0.0,0.0,0,0,0
3,2024-11-04,16:30,FOOD,236.75,1000.00,70.0,70.0,10.0,0,0,"Protein bars, candy"
17,2024-11-04,17:00,REST,184.50,-52.25,70.0,0.0,0.0,0,0,0
18,2024-11-04,18:00,REST,132.25,-52.25,70.0,0.0,0.0,0,0,0
19,2024-11-04,19:00,REST,80.00,-52.25,70.0,0.0,0.0,0,0,0
20,2024-11-04,20:00,REST,27.75,-52.25,70.0,0.0,0.0,0,0,0
21,2024-11-04,21:00,REST,-24.50,-52.25,70.0,0.0,0.0,0,0,0

In [41]:
df_energy_acc.to_csv('../../illuminateMe_dreamBoard/data/energy-irl-results.csv', index=False)

In [334]:
import datetime
now = datetime.datetime.utcnow()
now

datetime.datetime(2024, 11, 9, 6, 22, 56, 459342)

In [336]:
previous_date =  datetime.datetime.utcnow() - datetime.timedelta(days=1) 
previous_date

datetime.datetime(2024, 11, 8, 6, 25, 5, 144807)